// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.profile {
   display: flex;
   margin-bottom: 16px; 
}

.profile .image-wrap {
    padding-left: 16px;
    margin-right: 8px;
}

.profile .image-wrap .image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 8px;
    background-size: cover;
    background-position: 50% 0;
}

.profile .info-wrap {
    -webkit-box-flex: 1;
    flex: 1;
}

.profile .info-wrap .detail {
    list-style: none;
}

.profile .info-wrap .detail .item {
    border-bottom: 1px solid #e0e0e0;
    padding: 4px;
    font-size: 1.6em;
    overflow-wrap: break-word;
    word-break: break-all;
}

.profile-list {
    width: 100%;
}

.profile-list .image {
    display: block;
    width: 48px;
    float: left;
    line-height: 0;
    text-align: center;
}

.profile-list .right {
    padding-left: 58px;
    display: block;
}

.profile-list .right .name {
    display: block;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 17px;
    padding-right: 32px;
    margin-bottom: 4px;
}

.profile-list .right .info {
    height: 20px;
    margin-top: 2px;
    padding-left: 14px;
    overflow: hidden;
    vertical-align: middle;
    font-size: 1.3rem;
    line-height: 15px;
}

.profile-list .right .comment {
    background-color: #FFEDD7;
    width: 100%;
    word-wrap: break-word;
    padding: 4px;
    font-size: 1.3rem;
    line-height: 1.4;
}